.stats {

  &.stat-border {
    border: 1px solid #aaa;
    border-radius: 0 0 1rem 1rem;
  }

  .champion-stats {

    li {
      border-bottom: 1px solid #aaa;
    }

    li:last-child {
      border: 0;
    }
  }
}

.content {
  padding-top: 1rem;

  .list-inline {
    margin-left: 0;
    margin-bottom: 0;
  }


  ul {
    border-radius: 1rem 1rem 0 0;

    &.no-bullet {
      list-style-type: none;
      padding:0;
      margin:0;
    }


    li {
      vertical-align: top;

      &.elbow-room {

        margin: 1rem;
      }
    }
  }

  .row-list {
    padding: 2rem;
  }

  .row-list-0 {
    background: rgba(237, 218, 116, .5);
  }
  .row-list-1 {
    background: rgba(192, 192, 192, .5);
  }
  .row-list-2 {
    background: rgba(156, 104, 99, .5);
  }

  .champion-mastery-stats {
    height:100%;
  }
}
