<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">League of Legends Champion Dashboard</a>
    </div>
    <div class="col-md-6 navbar-right">
      {{summoner-search}}
    </div>
  </div>{{! container-fluid }}
</nav>

<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>
