<div class="text-center">
  <h1>Hopefully, you're looking for someone on NA...</h1>
  <h3>Type a name in the searchbar, we'll find out together.</h3>
  <small>This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.</small>
</div>

{{outlet}}
