<div class="col-md-3 bg-white">
  {{summoner-data model=model}}

  <div id="filters" class="filters">

    <h2>{{#link-to 'summoner.championmastery' (query-params summonerId=model.summonerId)}}Champion Masteries{{/link-to}}</h2>
    <hr>
    <h5>Coming soon</h5>
    <h2 class="muted">Matches</h2>
    <h2 class="muted">League</h2>
  </div>
</div>
{{outlet}}
