// Variable declarations
$primary: #555;
$primary-link: #337ab7;


// Application base styles
a {
  color: $primary-link;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: url('/assets/images/confectionary.png');
  color: $primary;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
}

.bg-white {
  background: #fff;
  height: 93vh;
}

.south-width{
  height: 93vh;
}

.search-form {
  margin: 0.7rem;
}

// Overrides
hr {
  border-top: 1px solid #aaa;
}

.navbar {
  background: #ed8c5e;
  color: #fff;
  margin-bottom: 0;
  min-height: 3vh;

  .navbar-brand {
    color: #fff;
    line-height: 1.5rem;
  }
}

// Utility classes
.muted {
  color: #999;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Loading spinner thing
@import 'modules/loading.scss';

// Application route styles
@import 'modules/summoner-data.scss';
@import 'modules/masteries.scss';

@import url(https://fonts.googleapis.com/css?family=Oswald:400,400);
